.panel3{
    display:block;
    width: 100%;
    background: rgb(233, 233, 241);
    text-align: center;
}
.panelCont3{
    display: inline;
}
.reset-btn3{
    margin-bottom: 2px;
    padding:7px;
}
.dropdown3{
    padding: 9px;
    margin: 1px 10px 1px 10px;
    border-radius: 5px;
}