.wrapper_9{
    width: 100%;
    height: 80px;
    background: linear-gradient(rgb(204, 240, 209),rgb(145, 235, 145));
    box-shadow: 5px 5px 5px 1px rgb(1, 1, 17);
    border-radius: 5px;
    border: 1px solid grey;
    margin-top: 10px;
    display: flex;
    
}
.name_9{
    height: 100%;
    line-height: 80px;
    background: transparent;
    width: 200px;
    text-align: left;
    overflow: hidden;
}
.dept_9{
    height: 100%;
    line-height: 80px;
    background: transparent;
    width: 150px;
    text-align: left;
    overflow: hidden;
}
.session_9{
    height: 100%;
    line-height: 80px;
    background: transparent;
    width: 100px;
    text-align: left;
    overflow: hidden;
}
.registration_9{
    height: 100%;
    line-height: 80px;
    background: transparent;
    width: 140px;
    text-align: left;
    overflow: hidden;
}
.bgrp_9{
    height: 100%;
    line-height: 80px;
    background: transparent;
    width: 50px;
    text-align: left;
    overflow: hidden;
}
.img_9{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: white;
    margin: 5px;
    overflow: hidden;
}
.btnC_9{
    width: 100%;
    height: 100%;
    background: transparent;
    
}
.btn_9{
    background: rgb(112, 228, 248);
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    box-shadow: 2px 2px 1px;
}
.btn_9:hover{
    background: blue;
    color: white;
}
.separator_9{
    width: 1px;
    height: 100%;
    background:grey;
    margin-right: 10px;
    margin-left: 10px;

}